{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% for produits in Produits %}


		<p class="has-text-primary" >Username :
			{{produits.usename}}
		</p>

		<p>Email :
			{{produits.email}}
		</p>

		<p>Password :
			{{produits.password}}
		</p>

		<p>Size :
			{{produits.size}}
		</p>

	{% endfor %}
{% endblock %}
